html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  cursor: url("../public/lucky-clover.png"), auto;
  background-image: url("../public/back-cover.jpg");
}

.loading-bar {
  background-image: url("../public/green-egg-flower.png");
  background-size: contain;
  background-repeat: repeat-x;
}
.rest-three-pencil:hover {
  cursor: url("../public/yellow-flying-bird.png"), auto;
}

.bandcamp-link:hover {
  cursor: url("../public/yellow-flying-bird.png"), auto;
}
* {
  box-sizing: border-box;
}

